*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    margin:5px 0;
    padding: 20px;
    background-color: #ced5e0;
}
.paver-card{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.canal-card{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.cards{
    margin: 10px;
}
.card-img-top{
    height: 40vh;
}


